$color-primary2: #282c34;
$color-primary: seashell;
$color-secondary: #61dafb;

$font-color: black;
$font-size: calc(10px + 2vmin);

$button-color-green: #4caf50;
$button-color-blue: #008cba;
$button-color-red: #f44336;

$results-color: lighten($color-primary, 10%);
