@import "./partials/variables", "./partials/mixins", "./partials/resets";

body {
  font-size: $font-size;
  background-color: $color-primary;
  color: $font-color;
  padding: 0;
  margin: 0 auto;
}

nav {
  border: solid 1px #444;
  background-color: #444;
  height: inherit;
  display: block;

  a {
    display: block;
    color: white;
    text-decoration: none;
    margin-right: 10px;
  }
  .active {
    text-decoration: underline;
  }
}

header {
  border: solid 1px seashell;
  background-color: seashell;
  height: 400px;
}

.search {
  margin: 100px auto;
  .searchInput {
    display: block;
    border: solid 2px lightgrey;
    border-radius: 5px;
    background-color: white;
    margin: 10px auto;
    height: 28px;
    width: 80%;
  }

  .searchButton {
    margin: 10px auto;
    width: 80px;
    height: 30px;
    border: solid 3px $button-color-green;
    color: $button-color-green;
    background-color: $color-primary;
  }
}

.container {
  min-height: 130vh;
}
li {
  list-style: none;
}

.results {
  margin: 200px auto;
  border: solid 2px black;
  width: 98%;
  font-size: 14px;
  padding: 0;
  .lyrics {
    border: solid 1px black;
    text-decoration: none;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    span {
      flex: 1;
      margin: 0 10px;
      word-wrap: break-word;
    }
    .lyrics {
      margin: 0 15px;
      margin-top: 18px;
      color: red;
    }
  }
}

.topList {
  margin: 0 auto;
  border: solid 2px black;
  width: 98%;
  font-size: 14px;
  padding: 0;
  .topLyrics {
    border: solid 1px black;
    text-decoration: none;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    span {
      margin: 0 10px;
      flex: 1;
    }
  }
}

.songLyrics {
  p {
    font-size: 1rem;
    width: 80%;
    line-height: 2.2;
    margin: 0 auto;
  }
}

@media (min-width: 748px) {
  body {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 3rem;
  }

  nav {
    display: block;
    text-align: left;
    border: solid 1px seashell;
    background-color: seashell;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.7;

    top: 0;
    height: inherit;
    &:hover {
      transition: all 0.3s;
      height: 80px;
      border: solid 1px #444;
      background-color: #444;
      opacity: 0.7;
      a {
        color: white;
      }
    }

    a {
      color: black;
      display: inline;
      font-size: 23px;
    }
  }

  .topList {
    width: 750px;
    border: none;
    .top-songs {
      border: none;
      .topLyrics {
        border: none;
        border-bottom: solid 2px lightgrey;
        font-size: 1.2rem;

        &:hover {
          transition: all 0.1s;

          background-color: lightgrey;
        }
      }
    }
  }

  .results {
    width: 80%;
    border: none;
   
    .lyrics {
      border: none;
      border-bottom: solid 2px lightgrey;
      font-size: 1.2rem;
      &:hover {
        transition: all 0.1s;
        background-color: lightgrey;
      }
    }
  }

  .songLyrics {
    border: solid 1px #9999;
    border-radius: 7px;
    padding: 20px;
    background-color: #9999;
    width: 85%;
    box-shadow: 1px 1px 5px;
    margin: 200px auto;
    margin-bottom: 200px;
    p {
      width: 50%;
      line-height: 4;
    }
  }
}
